/*Estilos generales*/


/*Selector etiqueta*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*ESTILOS MAIN TIENDA Y CURSO*/
.construccion{
    color: antiquewhite;
    font-size: xx-large;
    width: 300px;
    height: 1000px;
}

/*ESTILOS MAIN "ACERCA DE" (voy a usar GRID)*/
.contenedor-acerca-de{
    font-size: 22px;
    color: aliceblue;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "contenido contenido perfil"
                        "recomendaciones dibujo-flor perfil"
}

.contenedor-acerca-de div,
.contenedor-acerca-de .contenido,
.contenedor-acerca-de .perfil,
.contenedor-acerca-de .recomendaciones,
.contenedor-acerca-de .dibujo-flor-camelia {
    background: #D0E2E4;
    padding: 20px;
    border-radius: 40px;
    color: #133954;
}

.contenedor-acerca-de .contenido {
    grid-area: contenido;
    }
.contenedor-acerca-de .perfil{
    text-align: center;
    grid-area: perfil;
}
.contenedor-acerca-de .recomendaciones{
    grid-column: 1 / 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px; 
    grid-area: recomendaciones;
}

.contenedor-acerca-de .dibujo-flor-camelia {
    grid-column: 2 / 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    grid-area: dibujo-flor;
}
.dibujo-flor-camelia img{
    height: 90px;
    width: 90px;
}

/*ESTILOS MAIN "CONTACTO" (voy a usar GRID)*/
.contenedor-contacto{
    font-size: 22px;
    color: aliceblue;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto)
}

.contenedor-contacto .contacto-titulo{
    background: #D0E2E4;
    padding: 10px;
    border-radius: 40px;
    color: #133954;
    grid-column: span 2;
}



/*-------------------- MEDIA QUERY ---------------------*/

/*-----MEDIAQUERY TABLET-----*/
@media screen and (max-width: 1024px){

    header{
        flex-direction: row;
    }

    header nav ul{
        flex-direction: column;
    }

    header nav ul li a{
    font-size: 18px;
    }


    .contenedor-acerca-de {
        grid-template-areas: "contenido contenido contenido"
                            "perfil perfil perfil"
                        "recomendaciones recomendaciones dibujo-flor";
    }
}

/*----- MEDIA QUERY MOBILE-----*/

@media screen and (max-width: 768px){

    header{
        flex-direction: column;
    }

    header nav ul{
        flex-direction: column;
    }

    header nav ul li a{
    font-size: 12px;
    }


    .contenedor-acerca-de {
        grid-template-areas: "contenido contenido contenido"
                            "perfil perfil perfil"
                        "recomendaciones recomendaciones recomendaciones"
                        "dibujo-flor dibujo-flor dibujo-flor";
    }
}
