
/*Estilos Header*/
header{
    background-color: #4153607e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 150px;
        height: 150px;
        }
    nav{
        ul{
            list-style: none;
            display: flex;
            column-gap: 15px;
            li{
                a{
                    text-decoration: none;
                    font-size: 22px;
                    color: #133954;
                    font-weight: bold;
                }
            }
        }
    }

}
/* Estilos banner*/

.banner{
    height: 30rem;
    background-image: url(../assets/inicio-banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .banner-contenido{
        max-width: 90rem;
        margin: 0 auto;
        padding: 12rem 0;
        p{
        color: #b5bfc0;
        font-size: 4rem;
        font-weight: bolder;
        position: absolute;    
        }
    }
}